body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #bbbbbb;
	padding: 20px 0;
}

.box {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0px;
}

nav li {
	display: inline;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	margin: 0 0 0 15px;
}

nav a:hover {
	color: #c78c19;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0px;
}

.produtos li {
	display: inline-block;
	padding: auto;
	text-align: center;
	vertical-align: top;
	width: 30%;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #c78c19;
}

.produtos li:active {
	border-color: #088c19;
}

.produtos li:hover h2 {
	font-size: 35px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.descricao {
	font-size: 18px;
}

.preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background-image: url('./assets/bg.jpg');
	padding: 40px 0;
}

.copyright {
	color: #ffffff;
	font-size: 13px;
	margin-top: 20px;
}

form {
	margin: 40px 0;
}

form label,
form legend {
	display: block;
	font-size: 20px;
	margin: 10px 0 5px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: 1s all;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.1);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td,
th {
	border: 1px solid black;
	padding: 8px 15px;
}

/* CSS da página inicial */
.imgbanner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.principal {
	padding: 3em 0;
	background: #fefefe;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#fefefe, #888888);
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5em;
}

.itens:nth-child(1) {
	font-weight: bold;
}

.itens:before {
	content: '★';
}

.imgbeneficios {
	width: 60%;
	box-shadow: 0 0 30px 1px #000000;
}

.video {
	width: 560px;
	margin: 2em auto;
	opacity: 0.5;
	box-shadow: 0 0 30px 1px #000000;
}

.video:hover {
	opacity: 1;
	transition: 400ms;
}

.avalicaoes-container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 20px 0;
}

.avalicaoes-container h2 {
	font-size: 20px;
  margin-bottom: 10px;
  border-bottom: #ccc 1px solid;
}

.avaliacoes {
  max-width: 600px;
	list-style: none;
	padding: 0;
  border: #ccc 1px solid;
}

.avaliacao {
  display: flex;
  flex-direction: column;
  gap: 6px;
	border-bottom: 1px solid #ccc;
	padding: 20px;
}

.avaliacao:last-of-type {
  border-bottom: none;
}

.avaliacao h3 {
	margin-top: 0;
}

.avaliacao .nota {
	font-weight: bold;
}

/*adaptação para dispositivo móvel*/

@media screen and (max-width: 480px) {
	.box,
	.principal,
	.conteudo-beneficios,
	.mapa-conteudo,
	.video {
		width: auto;
	}
	h1 {
		text-align: center;
	}
	nav {
		position: static;
		text-align: center;
	}
	.lista-beneficios,
	.imgbeneficios {
		width: 100%;
		text-align: center;
	}
}
